@inject PresentacionesService presentacionesService

@if (Presentacion is null)
{
    <p>Cargando presentación...</p>
}
else
{
    <div class="carousel">
        <ul>
            @foreach (var item in Diapositivas.OrderBy(d => d.Orden))
            {
                <li>
                    <ShowDiapositiva diapositiva="item"></ShowDiapositiva>
                </li>
            }
        </ul>
    </div>
}

@code {
    Presentaciones? Presentacion { get; set; }
    List<Diapositivas> Diapositivas { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Presentacion = await presentacionesService.GetActiveAsync();

        if (Presentacion is not null)
        {
            Diapositivas = Presentacion.PresentacionesDiapositivas
                .Select(pd => pd.Diapositiva)
                .ToList();
        }
        else
        {
            Presentacion = new();
            Diapositivas = new()
            {
                new()
                {
                    ImageUrl="https://placehold.co/1400x720/5E3023/C08552?text=Cute+\nDog+And+AAAAAAAA+\n_Pawfect+Match_&font=roboto"
                }
            };
        }
    }
}
