<div class="d-diapositiva">
    <img class="d-bg-img" src="@diapositiva.ImageUrl" />

    <div class="d-left-side">
        <h1 class="d-Title">Titulo</h1>
        <h3 class="d-SubTitle">
            Subtitulo :Lorem ipsum dolor sit amet,
            consectetur adipiscing elit,sed do eiusmod
            tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.
        </h3>
        <button class="d-Left-btn">Esto es un boton</button>
    </div>

    <div class="d-right-side">
        <h1 class="d-Title">Titulo</h1>
        <h3 class="d-SubTitle">
            Subtitulo :Lorem ipsum dolor sit amet,
            consectetur adipiscing elit,sed do eiusmod
            tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.
        </h3>
        <button class="d-Right-btn">Esto es un boton</button>
    </div>
</div>

@code {
    [Parameter]
    public Diapositivas diapositiva { get; set; } = new();
}
