@page "/"

@inject MascotasService mascotasService

<PageTitle>Inicio</PageTitle>

<div class="home-page">
    <div class="Presentacion">
        <ShowPresentacion />
    </div>
</div>

@code {
    private List<Mascotas>? mascotas;

    protected override async Task OnInitializedAsync()
    {
        mascotas = await mascotasService.ListAsync(m => true) ?? new();
    }
}
