@page "/Nosotros"
<h3>Bienvenido a Pawfect Match</h3>
<p>
    En pawfect match, creemos que cada mascota merece un hogar lleno de amor y cuidado.
    Nuestra misión es conectar a animales necesitados con familias que estén listas para brindarles un nuevo comienzo.
</p>
<p>
    Desde nuestra creacion, hemos trabajado incansablemente para promover la adopción responsable y concienciar sobre la importancia de ofrecer una segunda oportunidad a aquellos que no tienen un hogar.
    Nuestro equipo está formado por amantes de los animales, voluntarios y profesionales dedicados que se esfuerzan por garantizar que cada mascota reciba la atención y el cariño que merece.
</p>

<h3>En Pawfect Match</h3>
<p>
    Ofrecemos un espacio seguro y acogedor donde los futuros adoptantes pueden conocer a nuestros adorables peludos, aprender sobre sus historias y encontrar al compañero perfecto.
    Además, proporcionamos recursos y apoyo para ayudar a las familias a hacer la transición a la vida con una nueva mascota.
</p>

<p>Únete a nosotros en nuestra misión de hacer del mundo un lugar mejor para los animales. 
    Juntos, podemos marcar la diferencia y darles a estos maravillosos seres la oportunidad de ser parte de una familia.</p>