<div class="footer">
    <div class="container">
        <div class="social-icons">
            <a href="#" class="social-link">
                <img src="@Assets["/Img/Icons/facebook0.svg"]" alt="Facebook" />
            </a>
            <a href="#" class="social-link">
                <img src="@Assets["/Img/Icons/instagram0.svg"]" alt="Instagram" />
            </a>
            <a href="#" class="social-link">
                <img src="@Assets["/Img/Icons/youtube0.svg"]" alt="YouTube" />
            </a>
        </div>

        <div class="copyright">
            <p>Pawfect Match © 2025</p>
        </div>

        <a class="btn btn-primary" href="@Urls.Sugerencias.Crear">
            Dar Sugerencias
        </a>

    </div>
</div>

<style>

</style>

@code {

}
