<div class="footer">
    <div class="social">
        <img class="facebook" src="@Assets["/Img/Icons/facebook0.svg"]" />
        <img class="youtube" src="@Assets["/Img/Icons/youtube0.svg"]" />
        <img class="instagram" src="@Assets["/Img/Icons/instagram0.svg"]" />
    </div>
    <div class="pawfect-match-2025">Pawfect Match © 2025</div>
</div>
@code {

}
