@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<div class="nav-menu">
    <div class="logo-container">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <img src="@Assets["/img/logo/logo0.png"]" />
        </NavLink>
    </div>
    <div class="navigation-buttons">
        <NavLink href="/Mascotas">
            <div class="nav-btn">
                <div class="text">Mascotas</div>
            </div>
        </NavLink>
        <NavLink href="/Nosotros">
            <div class="nav-btn2">
                <div class="text">Nosotros</div>
            </div>
        </NavLink>
    </div>
    <NavLink href="/Mascotas">
        <div class="main-nav-btn">
            <div class="text2">Adopta aqui !</div>
        </div>
    </NavLink>


    <div class="user-btn" @onpointerenter="pointerEnter" @onpointerleave="pointerLeave">
        <img class="user" src="@Assets["/img/icons/user0.svg"]" />

        @if (showUserMenu)
        {
            <div class="usermenu-container">
                <UserMenu />
            </div>
        }
    </div>
</div>

@code {
    private bool showUserMenu = false;

    private void pointerEnter()
    {
        showUserMenu = true;
    }

    private void pointerLeave()
    {
        showUserMenu = false;
    }
}



