@inject NavigationManager navigationManager
@implements IDisposable
@rendermode InteractiveServer

<div class="user-menu">
    <AuthorizeView>
        <Authorized>
            <NavLink href="Account/Manage">
                <div class="nav-item px-3">
                    @context.User.Identity?.Name
                </div>
            </NavLink>
        </Authorized>
        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <NavLink class="button4" href="Index/Solicitudes">
            <div>
                @* <img class="book" src="./book0.svg" /> *@
                <div class="button2">Solicitudes</div>
            </div>
        </NavLink>

        <NavLink href="/Citas">
            <div class="button5">
                <div class="button2">Citas</div>
            </div>
        </NavLink>

        <NavLink>
            <div class="button5">
                <div class="button2">Historial Adop</div>
            </div>
        </NavLink>

        <NavLink>
            <div class="button5">
                <div class="button2">Funciones Avanzadas</div>
            </div>
        </NavLink>
    </AuthorizeView>
    <AuthorizeView>
        <NotAuthorized>
            <NavLink href="Account/Login">
                <div class="button">
                    @* <img class="log-in" src="log-in0.svg" /> *@
                    <div class="button2">Iniciar Sesion</div>
                </div>
            </NavLink>
            <NavLink href="Account/Register">
                <div class="button3">
                    @* <img class="user-plus" src="user-plus0.svg" /> *@
                    <div class="button2">Registrarse</div>
                </div>
            </NavLink>
        </NotAuthorized>

        <Authorized>

            <div class="button5">
                <div class="button2">Mis Citas</div>
            </div>
            <div class="button5">
                <div class="button2">Ver Sugerencias</div>
            </div>
            <div class="button5">
                <div class="button2">Sugerencias</div>
            </div>
            <div class="button3">
                @* <img class="book-open" src="book-open0.svg" /> *@
                <div class="button2">Mis Solicitudes</div>
            </div>

            <div class="button6">
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <button type="submit" class="nav-link">
                        @* <img class="log-out" src="log-out0.svg" /> *@

                        <div class="button2">Cerrar Sesion</div>
                    </button>
                </form>

            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = navigationManager.ToBaseRelativePath(navigationManager.Uri);
        navigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = navigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        navigationManager.LocationChanged -= OnLocationChanged;
    }
}
