@page "/Mascotas"

@inject MascotasService mascotasService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Mascotas</PageTitle>

<div class="mascotas-page">
    <h3 class="mb-4">Mascotas en Adopción</h3>
    <AuthorizeView Roles="Admin">
        <button class="btn btn-primary" @onclick="gotoCreate">Crear Mascota</button>
    </AuthorizeView>

    <div class="mascotas-container">
        @if (mascotas == null)
        {
            <p>Cargando mascotas...</p>
        }
        else if (!mascotas.Any())
        {
            <div class="alert alert-warning">No hay mascotas disponibles actualmente.</div>
        }
        else
        {
            <div class="row row-cols-2 row-cols-md-4 g-2">
                @foreach (var m in mascotas)
                {
                    <CardMascota Mascota="m" OnVerDetalles="VerDetalle"></CardMascota>
                }
            </div>

        }

    </div>

</div>


@code {
    private List<Mascotas>? mascotas;

    protected override async Task OnInitializedAsync()
    {
        mascotas = await mascotasService.ListAsync(m => m.EstadoId == 1);
    }

    private void VerDetalle(int id)
    {
        navigationManager.NavigateTo($"{Urls.Mascotas.Detalle}{id}");
    }

    public void gotoCreate()
    {
        navigationManager.NavigateTo("/Crear/Mascotas");
    }
}
